<p>Maps View</p>
<div class="container">
  <div class="row row-1">
    <form>
      <mat-form-field>
        <mat-label>User</mat-label>
        <mat-select [(value)]="selectedUserId">
          <mat-option *ngFor="let user of users" [value]="user.user_id">
            {{user.username}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          [matDatepicker]="datepicker"
          placeholder="Choose a date"
          (dateChange)="dateChanged($event)"
          [(ngModel)]="fullDate"
          name="fullDate"
        >
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
      </mat-form-field>
      <!-- <mat-radio-group aria-label="Select an option" [(ngModel)]="paymentType" [ngModelOptions]="{standalone: true}">
        <mat-radio-button value="S">Sent</mat-radio-button>
        <mat-radio-button value="R">Received</mat-radio-button>
        <mat-radio-button value="A">All</mat-radio-button>
      </mat-radio-group> -->

      <mat-chip-listbox aria-label="Select payment type" [(ngModel)]="paymentType" [ngModelOptions]="{standalone: true}">
        <mat-chip-option value="S">Sent</mat-chip-option>
        <mat-chip-option value="R">Received</mat-chip-option>
        <mat-chip-option value="A">All</mat-chip-option>
      </mat-chip-listbox>
    </form>
  </div>
  <div class="row row-2">
    <div id="map" style="width: 100%; height: 400px;"></div>
  </div>
</div>
